<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>High Street Gym - Manage Bookings</title>
</head>
<body>
    <%- include("partials/header.ejs"), authenticatedUser %>
    <main>
        <h1>Manage Bookings</h1>
    </main>
    <main>
        <section>
            <button class="btn-large-regular"><a href="/booking"><h4>Clear</h4></a></button>
            <form action="/booking/<%= selectedBooking.id %>" method="post">
                <section class="sec-small">
                    <input type="text" readonly name="id" id="id" value="<%= selectedBooking.id %>" placeholder="Id" class="o-mini">
                    <select name="memberId" id="memberId" class="i-select-regular">
                        <option value="" selected disabled hidden>Select member</option>
                        <% for (member of members) { %>
                            <option value="<%= member.id %>" <%= selectedBooking.memberId == member.id ? "selected" : "" %>>
                                <%= member.firstName %> <%= member.lastName %>
                            </option>
                        <% } %>
                    </select>
                </section>
                <select name="sessionId" id="sessionId" class="i-select-large">
                    <option value="" selected disabled hidden>Select session</option>
                    <% for (session of sessions) { %>
                        <option value="<%= session.session.id %>" <%= selectedBooking.sessionId == session.session.id ? "selected" : "" %>>
                            <%= session.activity.name %>
                            <%= session.session.date %>
                            <%= session.session.time %>
                            <%= session.location.name %>
                            <%= session.user.firstName %>
                            <%= session.user.lastName %>
                        </option>
                    <% } %>
                </select>

                <% if (selectedBooking.id == null) { %>
                    <input type="submit" name="action" value="Create" class="btn-large-regular">
                <% } else { %>
                    <input type="submit" name="action" value="Delete" class="btn-large-regular">
                <% } %>
            </form>
        </section>
        <section>
            <article class="management-bg">
                <form action="/booking" method="get">
                    <section class="sec-search">
                        <section>
                            <input type="text" name="search" value="<%= searchTerm %>" placeholder="Search member name">
                            <button type="submit">Search</button>
                        </section>
                    </section>                
                </form>
                <% for (const booking of mergedBookings) { %>
                    <section class="management-list">
                        <a href="/booking/<%= booking.id %>">
                            <span>
                                <p><%= booking.id %></p>
                                <p><%= booking.session.activityName %></p>
                                <p><%= booking.member.firstName %></p>
                                <p><%= booking.member.lastName %></p>                           
                            </span>
                            <span>
                                <p><%= booking.session.date %></p>
                                <p><%= booking.session.time %></p>
                            </span>
                        </a>
                    </section>
                <% } %>
            </article>
            <button class="btn-large-regular"><a href="/microblog"><h4>Back</h4></a></button>
        </section>
    </main>
    
    <%- include("partials/management_nav.ejs") %>
</body>
</html>