<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>High Street Gym - Manage Locations</title>
</head>
<body>
    <%- include("partials/header.ejs", authenticatedUser) %>
    <main>
        <h1>Manage Locations</h1>
    </main>
    <main>
        <section>
            <button class="btn-large-regular"><a href="/location"><h4>Clear</h4></a></button>
            <form action="/location/<%= selectedLocation.id %>" method="post">
                <section class="sec-small">
                    <input type="text" readonly name="id" id="id" value="<%= selectedLocation.id %>" placeholder="Id" class="o-mini">
                    <input type="text" name="name" id="name" value="<%= selectedLocation.name %>" placeholder="Location name" class="i-regular">
                </section>
                <textarea name="address" id="address" value="<%= selectedLocation.address %>" placeholder="Address" class="location-address"><%= selectedLocation.address %></textarea>
    
                <% if (selectedLocation.id == null) { %>
                    <input type="submit" name="action" value="Create" class="btn-large-regular">
                <% } else { %>
                    <section class="sec-small">
                        <input type="submit" name="action" value="Delete" class="btn-small-regular">
                        <input type="submit" name="action" value="Update" class="btn-small-medium">
                    </section>
                <% } %>
            </form>
        </section>
        <section>
            <article class="management-bg">
                <% for (location of locations) { %>
                    <section class="management-list">
                        <a href="/location/<%= location.id %>">
                            <span>
                                <p><%= location.id %></p>
                                <p><%= location.name %></p>
                            </span>
                        </a>
                    </section>
                <% } %>
            </article>
            
            <button class="btn-large-regular"><a href="/microblog"><h4>Back</h4></a></button>
        </section>
    </main>
    
    <%- include("partials/management_nav.ejs") %>
</body>
</html>