<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>High Street Gym - Manage Activities</title>
</head>
<body>
    <%- include("partials/header.ejs", authenticatedUser) %>
    <main>
        <h1>Manage Activities</h1>
    </main>
    <main>
        <section>
            <button class="btn-large-regular"><a href="/activity"><h4>Clear</h4></a></button> 
            <form action="/activity/<%= selectedActivity.id %>" method="post">             
                <section class="sec-small">
                    <input type="text" readonly name="id" id="id" value="<%= selectedActivity.id %>" placeholder="Id" class="o-small">
                    <input type="text" name="duration" id="duration" value="<%= selectedActivity.duration %>" placeholder="Duration" class="i-small">    
                </section>
                <input type="text" name="name" id="name" value="<%= selectedActivity.name %>" placeholder="Activity name" class="i-large">
                <textarea name="description" id="description" value="<%= selectedActivity.description %>" placeholder="Description" class="activity-description"><%= selectedActivity.description %></textarea>
    
                <% if (selectedActivity.id == null) { %>
                    <input type="submit" name="action" value="Create" class="btn-large-regular">
                <% } else { %>
                    <section class="sec-small">
                        <input type="submit" name="action" value="Delete" class="btn-small-regular">
                        <input type="submit" name="action" value="Update" class="btn-small-medium">
                    </section>
                <% } %>
            </form>
        </section>
        <section>
            <article class="management-bg">
                <% for (activity of activities) { %>
                    <section class="management-list">
                        <a href="/activity/<%= activity.id %>">
                            <span>
                                <p><%= activity.id %></p>
                                <p><%= activity.name %></p>
                            </span>
                        </a>
                    </section>
                <% } %>
            </article>
            <button class="btn-large-regular"><a href="/microblog"><h4>Back</h4></a></button>
        </section>
    </main>

    <%- include("partials/management_nav.ejs") %>
</body>
</html>