<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>High Street Gym - Weekly Trainer Session</title>
</head>
<body>
    <%- include("partials/header.ejs", authenticatedUser) %>
    <h1>Weekly Sessions</h1>
    <section class="main">
        <section>
            <article class="timetable-list-bg">
                <% for (const day in sessionsByDay) { %>
                    <section class="day">
                        <h5><%= day %></h5>
                    </section>
                    
                    <section class="activity-list">
                        <% for (const activityId in sessionsByDay[day]) { %>
                            <% if (sessionsByDay[day][activityId].length > 0) { %>
                                <% for (const session of sessionsByDay[day][activityId]) { %>
                                    <section class="activity">
                                        <h4><%= session.activity.name %></h4>
                                        <p><%= session.session.time %> <%= session.location.name %></p>
                                    </section>
                                <% } %>
                            <% } %>
                        <% } %>
                    </section>
                <% } %>
            </article>
            <button class="btn-large-regular"><a href="/microblog"><h4>Back</h4></a></button>
        </section>
    </main>
</body>
</html>