<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>High Street Gym - Weekly Timetable</title>
</head>
<body>
    <%- include("partials/header.ejs", authenticatedUser) %>
    <h1>Weekly Timetable</h1>

    <section class="main">
        <section>
            <article class="timetable-list-bg">
                <% for (const day in sessionsByDay) { %>
                    <section class="day">
                        <h5><%= day %></h5>
                    </section>
                    
                    <section class="activity-list">
                        <% for (const activityId in sessionsByDay[day]) { %>
                            <% if (sessionsByDay[day][activityId].length > 0) { %>
                                <% for (const activity of activities) { %>
                                    <% if (activity.id == activityId && sessionsByDay[day][activityId].length > 0) { %>
                                        <section class="activity">
                                            <h4><%= activity.name %></h4>
                                            <button><a href="/session/create/<%= encodeURIComponent(activityId) %>/<%= encodeURIComponent(day) %>"><p>Book</p></a></button>
                                        </section>
                                    <% } %>
                                <% } %>
                            <% } %>
                        <% } %>
                    </section>
                <% } %>
            </article>
            <button class="btn-large-regular"><a href="/microblog"><h4>Back</h4></a></button>
        </section>
    </section>
</body>
</html>